<html>
<head>
      {{> header}}
</head>

<body>

        <h1>Checklist</h1>

    <div class="container">

    {{> menu}}
<div class="list-group">

{{#check_list}}

  <h4><input type="checkbox" name="exCheck" onclick="sortData(this,{{listid}})"
   {{#is_checked}}
     checked="checked"
  {{/is_checked}}
   class="taskcheck"> {{tasks}}</h4>

  <h4><input type="hidden" name="listid" value={{listid}} class="checked"/>
  <button type="button" class="btn btn-danger" onclick="deleteData({{listid}})">Delete item</button></h4><br>

{{/check_list}}

</div>  

</div>

    {{> footer}}

  <div class="pagination">
  
  <a href="{{prev_page}}">&laquo;</a>
  {{#pages}}
  <a href="{{pageURL}}?page={{.}}">{{.}}</a>
  {{/pages}}
  <a href="{{next_page}}">&raquo;</a>

</div>

      <script>

      function sortData(checkbox,listid){
      var xhr = new XMLHttpRequest()
      xhr.open('PATCH','http://localhost:3000/dashboard/checked-tasks/'+listid,true)
      xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded")
      xhr.send("checked="+checkbox.checked);
      xhr.onload = function() {
        if(this.status === 200){
          window.location.reload(true)
          var response = JSON.parse(this.responseText)
          console.log(response)
        } else{
          alert("error!!!")
        }
      }
    }

      function deleteData(listid){
        var xhr = new XMLHttpRequest()
        xhr.open('DELETE','http://localhost:3000/dashboard/delete-task/'+listid,true)
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded")
        xhr.send()
        xhr.onload = function() {
        if(this.status === 200){
          window.location.reload(true)
          var response = JSON.parse(this.responseText)
          console.log(response)
        } else{
          alert("error!!!")
        }
      }
    }
   
      </script>
</body>

</html>